body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bg.jpg");
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
}

.title {
	color: white;
	font-weight: normal;
	font-size: 30px;
	margin-top: 210px;
	width: 100%;
	padding: 35px 0px;
	background-color: rgba(0,0,0, 0.7);
}

.title > .first {
	font-weight: bold;
	color: #ff3333;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ff3333;
    margin: 0;
    padding: 0;
}

.title > .second {
	font-weight: bold;
	font-size: 20px;
	color: #ff3333;
}

.buttons {
	list-style-type: none;
	padding: 0;
}

.buttons > li {
	text-align: center;
	margin: 40px 15px;
}

.btn {
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	background-color: #ff3333;
	border: 1px solid #ff3333;
	font-size: 20px;
	color: white;
}

.btn:hover {
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}











@media only screen and (min-width: 600px) {
.title {
	color: white;
	font-weight: normal;
	font-size: 40px;
	margin-top: 65px;
	width: 100%;
	padding: 35px 0px;
	background-color: rgba(0,0,0, 0.7);
}

.title > .first {
	font-weight: bold;
	color: #ff3333;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ff3333;
    margin: 0;
    padding: 0;
}

.title > .second {
	font-weight: bold;
	font-size: 25px;
	color: #ff3333;
}

.buttons {
	list-style-type: none;
	padding: 0;
}

.buttons > li {
	display: inline-block;
	text-align: center;
	margin: 15px 15px;
}

.btn {
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	background-color: #ff3333;
	border: 1px solid #ff3333;
	font-size: 20px;
	color: white;
}

.btn:hover {
	border-radius: 25px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}
}











@media only screen and (min-width: 768px) {
.title {
	color: white;
	font-weight: normal;
	font-size: 70px;
	margin-top: 210px;
	width: 100%;
	padding: 35px 0px;
	background-color: rgba(0,0,0, 0.7);
}

.title > .first {
	font-weight: bold;
	color: #ff3333;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ff3333;
    margin: 0;
    padding: 0;
}

.title > .second {
	font-weight: bold;
	font-size: 40px;
	color: #ff3333;
}

.buttons {
	list-style-type: none;
	padding: 0;
}

.buttons > li {
	display: inline-block;
	text-align: center;
	margin: 0px 15px;
}

.btn {
	padding: 10px 35px;
	border-radius: 25px;
	text-decoration: none;
	background-color: #ff3333;
	border: 2px solid #ff3333;
	font-size: 20px;
	color: white;
}

.btn:hover {
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
}
}